/* App.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-areas:
      "date-time date-time"
      "weather weather"
      "bus schedule"
      "bus tkg"
      "znd znd";
    grid-template-rows: 1fr 1.5fr 1fr 0.5fr 5fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
    max-width: 3440px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* 各セクションの共通スタイル */
.section {
    border: 1px solid #ccc;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
  }

.date-time-container {
    grid-area: date-time;
    display: grid;
    grid-template-areas:
      "date time"
      "seminar time";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1.5fr;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.date-section {
    grid-area: date;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.month-section {
    font-size: 6rem;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.time-section {
    grid-area: time;
    font-size: 12rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px; }

.seminar-section {
    grid-area: seminar;
    display: flex;
    justify-content: center; /* 縦方向の中央揃え */
    align-items: center;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.weather-container {
    grid-area: weather;
    display: grid;
    grid-template-areas:
      "today tomorrow";
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.today-section{
    grid-area: today;
    display: grid;
    grid-template-areas:
      "rainfallchart"
      "info";
    grid-template-rows: 3fr 1fr;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; /* はみ出し防止 */
    height: auto; /* セクション全体を占める */
    width: 100%; /* セクション全体を占める */
}

.rainfallchart{
    grid-area: rainfallchart;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.info {
    grid-area: info;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tomorrow-section{
    grid-area: tomorrow;
    display: grid;
    grid-template-areas:
      "icon icon"
      "max min"
      "rain-chance rain-chance";
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.icon {
    grid-area: icon;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.icon img {
    height: auto;
    width: 100%;
    object-fit: contain;
}

.max, 
.min ,
.rain-chance {
    font-size: 4rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right; /* 文字を右寄せ */
    align-self: end; /* 縦方向で下に配置 */
    justify-self: end; /* 横方向で右に配置 */
}

.max {
    grid-area: max;
}

.min {
    grid-area: min;
}

.rain-chance {
    grid-area: rain-chance;
    font-size: 5rem;
}


.bus-containar {
    grid-area: bus;
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bus-next {
    display: grid;
    grid-template-areas:
        "time remain";
    grid-template-columns: 1.5fr 1fr;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bus-ntime {
    font-size: 10rem;
}
.bus-time {
    font-size: 6rem;
}

.bus-ntime,
.bus-time {
    grid: time;
    display: flex;
    justify-content: lest;
    align-items: flex-end;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bus-nremain {
    font-size: 6rem;
}
.bus-remain {
    font-size: 4rem;
}

.bus-nremain,
.bus-remain {
    grid: remain;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}
    
.schedule-containar {
    grid-area: schedule;
    display: grid;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.schedule-section{
    display: grid;
/*    grid-area: 
        "date"
        "sentence";
    grid-template-rows: 1fr 1fr;*/
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.schedule-date{
/*    grid: date;*/
    display: flex;
    align-items: flex-end;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/*.schedule-sentence{
    grid: sentence;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}*/

.tkg-containar {
    grid-area: tkg;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.znd-containar {
    grid-area: znd;
    display: grid;
    grid-template-areas:
      "news news" 
      "info zndi";
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 0fr 4fr;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.znd-section {
    grid-area: zndi;
    width: 100%; /* セクションの幅 */
    height: auto; /* セクションの高さ */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.canvas {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.news-section {
    grid-area: news;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.news {
    display: grid;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.news-title {
    white-space: nowrap;       /* テキストを1行に制限 */
    overflow: hidden;          /* 溢れるテキストを非表示 */
    text-overflow: ellipsis;   /* 省略記号を表示 */
    width: 100%;               /* 必要に応じて幅を調整 */
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
}

.news-description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 表示する行数を設定 */
    -webkit-box-orient: vertical;
    overflow: hidden; /* 溢れたテキストを非表示にする */
    text-overflow: ellipsis; /* 省略記号を追加 */
    color: #666; /* 説明文の文字色 */
    max-height: 3rem; /* 行の高さに合わせて調整 */
    line-height: 1rem; /* 行間の高さ */
    font-size: 1rem; /* テキストのサイズ */
}
