/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-areas:
      "date-time date-time"
      "weather weather"
      "slack slack"
      "bus schedule"
      "znd znd";
    grid-template-rows: 2fr 1fr 1fr 1fr 5fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
    max-width: 3440px;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
}

/* 各セクションの共通スタイル */
.section {
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.date-time-container {
  grid-area: date-time;
  display: grid;
  grid-template-areas:
    "date time"
    "seminar time";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1.5fr;
  gap: 10px;
  background-color: #e6f7ff;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.date-section {
    grid-area: date;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    background-color: #d0e1ff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.month-section {
    font-size: 6rem;
    font-weight: bold;
    background-color: #b0c1ff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.time-section {
    grid-area: time;
    font-size: 12rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0e1ff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.seminar-section {
    grid-area: seminar;
    position: relative;
    background-color: #d0e1ff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center; /* 縦方向の中央揃え */
    align-items: flex-end;
    text-align: center;
}

.seminar-title {
    grid-area: seminar;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 3em;
    font-weight: bold;
    background-color: #b0c1ff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.seminar-date {
    position: absolute;
    top: 100px;
    left: 30px;
    font-size: 4rem;
    font-weight: bold;
    background-color: #b0c1ff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.weather-container {
    grid-area: weather;
    display: grid;
    grid-template-areas:
      "rain tomorrow"
      "info tomorrow";
    grid-template-rows: 10fr 1fr;
    grid-template-columns: 7fr 1fr;
    gap: 10px;
    background-color: #ffd6e7;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.rain-section{
    grid-area: rain;
    background-color: #ffd6e7;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.info-section {
    grid-area: info;
    background-color: #ffd6e7;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tomorrow-section{
    grid-area: tomorrow;
    background-color: #ffd6e7;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tomorrow-section img {
    height: auto;
    width: auto;
    object-fit: contain;
}

.slack-containar {
  grid-area: slack;
  display: grid;
  gap: 10px;
  background-color: #ffccff;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bus-containar {
    grid-area: bus;
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr;
    background-color: #ccffff;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bus-next {
    display: grid;
    grid-template-areas:
        "time remain";
    grid-template-columns: 1.5fr 1fr;
    background-color: #aaffff;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bus-ntime {
    font-size: 10rem;
}
.bus-time {
    font-size: 6rem;
}

.bus-ntime,
.bus-time {
    grid: time;
    display: flex;
    justify-content: lest;
    align-items: flex-end;
    background-color: #aaffff;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bus-nremain {
    font-size: 6rem;
}
.bus-remain {
    font-size: 4rem;
}

.bus-nremain,
.bus-remain {
    grid: remain;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    background-color: #aaffff;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}
    
.schedule-containar {
    grid-area: schedule;
    display: grid;
    gap: 10px;
    background-color: #ffffcc;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.schedule-section{
    display: grid;
    grid-area: 
        "date"
        "sentence";
    grid-template-rows: 1fr 2fr;
    background-color: #ffffcc;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.schedule-date{
    grid: date;
    display: flex;
    align-items: flex-end;
    font-size: 2rem;
    background-color: #ffffaa;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.schedule-sentence{
    grid: sentence;
    font-size: 2rem;
    background-color: #ffffaa;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.znd-containar {
    grid-area: znd;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    background-color: #ccffcc;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.znd-containar img {
    height: auto;
    width: auto;
    object-fit: contain;
}

